@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: #e0f2f1;  
  --primary-100: #b2dfdc; 
  --primary-500: #0E6B66; 
  --primary-600: #0A5A55; 
  --primary-900: #052F2C; 
  --accent-500: #E7B13E;  
  --accent-600: #D4A034;  
  --bg-start: #07203A;    
  --bg-end: #000000;     
  --text-primary: #F6F7F9; 
  --text-secondary: #7A8590; 
  --text-muted: #7A8590;  
  --surface-800: #111521;
  --surface-900: #07203A;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: red;
  color: white;
  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
}